{% extends 'base.html.twig' %}

{% block title %}PokéCards - Sign in
{% endblock %}

{% block body %}
	<div id='reducedDiv'>
		<div id='register' class="bg-white rounded-4 m-2">
			<div class="d-flex flex-column justify-content-center align-items-center text-center pb-4 p-4">
				<h2>Registration</h2>

				{% for flash_error in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
				{% endfor %}

				{{ form_start(registrationForm)}}
				{{ form_row(registrationForm.username) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.country) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(registrationForm.plainPasswordConfirmation, {
            label: 'Password confirmation'
        }) }}
				{% if errors is defined %}
					<ul>
						{% for error in errors %}
							<li>
								{{ error }}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				<button type="submit" class="shadow rounded-4 p-3 mt-4">Sign in !</button>
				{{ form_end(registrationForm) }}

			</div>
		</div>
	</div>
{% endblock %}
