{% extends 'base.html.twig' %}

{% block title %}Pokecards -
	{{card.name}}
{% endblock %}

{% block body %}
	<div id='reducedDiv' class=''>
		<div id='cardDetails' class="d-flex flex-row justify-content-center align-items-center">
			<a href={{card.images.large}} id='{{card.id}}'><img class="me-4 my-4" src="{{card.images.large}}" alt="card image"></a>
			<div id="details" class="rounded-4 bg-white ms-5 p-4 text-center d-flex flex-column justify-content-between align-items-center">
				<div class="w-100">
					<h2 class="word-wrap">{{card.name}}
					</h2>
					<div>Type:
						{% if card.types|length == 1 %}
							{{card.types[0]}}
						{% else %}
							{% for type in card.types %}
								{{type}}
								super
							{% endfor %}
						{% endif %}

					</div>
					<div>{{card.supertype}}
					</div>
					<div>
						{{card.set.series}}
						({{card.number}}/{{card.set.total}})
					</div>
				</div>

				<div class="w-100">
					{% if card.rarity is defined %}
						Rarity:
						{{card.rarity}}
					{% endif %}
					<div>Total printed:
						{{card.set.printedTotal}}
					</div>
					<div>Trend price:
						{{card.cardmarket.prices.trendPrice}}
						€
					</div>
				</div>

				<div>Illustrator:<br>
					{{card.artist}}</div>

				<div class="w-100">

					<div>See other card of
						{{card.name}}</div>
					<div>or</div>
					{% if card.evolvesTo is defined %}
						<div>See evolution:
							{{card.evolvesTo}}
						</div>
					{% endif %}
				</div>


			</div>
		</div>
	</div>
{% endblock %}
