{% extends 'base.html.twig' %}

{% block title %}Pokecards -
	{{card.name}}
{% endblock %}

{% block body %}
	<div id='reducedDiv' class=''>
		<div id='cardDetails' class="d-flex flex-row justify-content-center align-items-center">
			<a href={{card.imageLarge}} id='{{card.apiId}}'><img class="me-4 my-4 shadow" src="{{card.imageLarge}}" alt="card image"></a>
			<div id="details" class="rounded-4 bg-white ms-5 p-4 text-center d-flex flex-column justify-content-between align-items-center">
				<div class="w-100">
					<h2 class="word-wrap">{{card.name}}
					</h2>
					<div>Type:
						{% if card.type|length == 1 %}
							{{card.type[0]}}
						{% else %}
							{% for type in card.type %}
								{{type}}
								super
							{% endfor %}
						{% endif %}

					</div>
					<div>{{card.supertype}}
					</div>
					<div>
						{{card.series}}
						({{card.number}}/{{card.totalSet}})
					</div>
				</div>

				<div class="w-100">
					{% if card.rarity is defined %}
						Rarity:
						{{card.rarity}}
					{% endif %}
					<div>Total printed:
						{{card.printedTotal}}
					</div>
					<div>Trend price:
						{{card.trendPrice}}€
					</div>
				</div>

				<div>Illustrator:<br>
					{{card.artist}}</div>

				<div class="w-100">
					<div>See other
						{{card.name}}
						cards</div>
					{% if card.evolvesTo is defined and card.evolvesTo is not empty %}
						<div>or</div>
						<div>See evolution:
							{{card.evolvesTo}}
						</div>
					{% endif %}
				</div>

			</div>
		</div>
	</div>
{% endblock %}
