{% extends 'base.html.twig' %}

{% block title %}PokéCards - My collection
{% endblock %}

{% block body %}
	<div id='reducedDiv'>

		<div id='collection' class="w-100 bg-white rounded-4 m-2">
			<div class="d-flex flex-column justify-content-center align-items-center text-center p-4">
				<h2 class="mb-4">{{user.username}}</h2>
				{% if is_granted('ROLE_ADMIN') or (app.user and app.user == user) %}
					<div>{{user.email}}</div>
				{% endif %}

				<div class="mb-4">{{user.country}}</div>
				<div>Collection size :
					{{user.collection|length}}
					cards
				</div>
			</div>
		</div>

		<div id='cardex' class="mb-5 w-100 d-flex flex-row flex-wrap justify-content-center align-items-center">
			{% if user.collection is defined %}
				{% for card in user.collection %}
					<div class="d-flex flex-column flex-wrap justify-content-center align-items-center">
						<a href="{{ path('app_show', {id : card.apiId}) }}" id='{{card.apiId}}'><img class="card mx-3 mt-4 shadow" src="{{card.imageSmall}}" alt="card image"></a>
						<img id='{{card.apiId}}' class="pokeball mt-1 mb-3 {% if user.isInCollection(card) %}{% else %}opacity{% endif %}" src="{{ asset('build/images/pokeball_filled.png') }}" alt="add to collection">
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	{% if(is_granted('ROLE_ADMIN')) %}
		<a href="{{ path('app_user_index') }}">Back to list</a>
		<a href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
		{{ include('user/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
